/*  THEME COLORS   */

:root {

--bg-color: #272822;
--box-bg-color: #ccc;
--box-bg-color-2: #222;
--main-text-color: #d6d6d6;
--box-text-color: black;
--title-color: #e9f;
--highlight-color: #F92672;
--fade-in-color: #bbb;
--fade-out-color: #999;
--hide-color: #272822;
--shadow-color: #000;
--border-color-1: #444;
--border-color-2: #b21;
--border-color-3: #ccc;
--slide-number-color: #666;
}


