.dark-gray-box > ul {
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  box-shadow: 8px 8px 10px #211;
}

.dark-gray-box > ol {
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  box-shadow: 8px 8px 10px #211;
}

.light-gray-box > ul {
  padding: 20px 50px;
  border-radius: 10px;
  background-color: #ccc;
  color: black;
  box-shadow: 8px 8px 10px #111;
  text-shadow: none;
}

.red {
  color: rgb(249, 38, 114);
}

.gray {
  color: #555;
}

img[alt="cc"] {
  max-width: 25px;
  vertical-align: middle;
}

img[alt="medium-photo"] {
  max-width: 400px;
  border: 5px solid white;
  border-radius: 5px;
  box-shadow: 4px 4px 15px #111;
}

.double {
  line-height: 170%;
}

.credits {
  font-size: small;
}
