/* text colors */

.red {
  color: rgb(249, 38, 114);
}

.lightgray {
  color: #999;
}

.gray {
  color: #555;
}

.darkgray {
  color: #333;
}

.vdarkgray {
  color: #272822;
}

.inverse {
  text-shadow: none;
}

.space {
  color: #272822;
}

.purple {
  color: #c8d;
}

.inverse h1, .inverse h2, .inverse h3, .inverse h4 {
  color: #e9f;
}

/* opposite of inverse */

.converse {
  background-color: #ccc;
  color: #222;
}

.converse h1, .converse h2, .converse h3 {
  color: #555;
}

/* text boxes */

.converse .example{
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  box-shadow: 8px 8px 10px #211;
  }

.inverse .example {
  padding: 10px 40px;
  border-radius: 10px;
  background-color: #ccc;
  color: black;
  box-shadow: 8px 8px 10px #111;
  margin-bottom: 10px;
  line-height: 1.5;
  }

.inverse .argument {
  padding: 10px 30px;
  border-radius: 10px;
  background-color: #ccc;
  color: black;
  box-shadow: 8px 8px 10px #111;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

.converse .argument {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #333;
  color: white;
  box-shadow: 8px 8px 10px #111;
  text-shadow: none;
  width: 65%;
  margin-left: auto;
  margin-right: auto;
}

ul ul, ol ul {
  list-style-type: none;
}

.note {
  font-size: smaller;
  color: #c8d;
  line-height: normal;
}

/* creative commons symbol for title page */

img[alt="cc"] {
  max-width: 25px;
  vertical-align: middle;
}

/* images -- can be scaled with macro */

img.photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 5px;
  box-shadow: 4px 4px 15px #111;
}

/* .credit-image {
  position: absolute;
  left: 5%;
  top: 20%;
  }
*/

.double {
  line-height: 150%;
}

/* for final slide */

.credits {
  font-size: small;
}

/* redo tables  */

.remark-slide table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}

.remark-slide table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
.remark-slide thead, .remark-slide tfoot, .remark-slide tr:nth-child(even) { background: #222 }

.remark-slide-number {
  font-size: small;
}

.myright-column {
  width: 75%;
  float: right;
  padding-top: 1em;
  line-height: 1.5;
}

.smaller-text {
  font-size: smaller;
  line-height: 1.5;
}